* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 10;
  background-color: white;
}
.navbar > div:nth-child(1) {
  width: 8%;
  margin-left: 30px;
}
.navbar > div a img {
  width: 100%;
}
.categories {
  width: 35%;
  text-align: center;
  margin-left: 20px;
}
.categories ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;
}
.categories a {
  text-decoration: none;
}
.categories a {
  color: black;
  font-weight: 600;
  font-size: 1vw;
}
.end-content img {
  height: 16px;
}
.search {
  width: 30%;
  margin-left: 45px;
}
.search textarea:focus,
.search input:focus {
  outline: none;
}
.search img {
  width: 4%;
  height: 18px;
}
.search input {
  width: 60%;
  margin: 0px 0px 2px 6px;
  border: 0px;
}
.end-content {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-left: 95px;
}
.end-content a {
  font-weight: 600;
  font-size: 1vw;
  text-decoration: none;
  color: black;
}
.end-content img {
  width: 100%;
}

/* dropdown comg */
.hover-li {
  display: none;
  position: fixed;
  top: 50px;
  padding: 50px 10px 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 20;
}
.hover-li li {
  text-align: left;
  text-decoration: none;
  font-size: 1vw;
  letter-spacing: 0.1px;
  list-style: none;
  color: black;
  font-weight: 400;
  transition: all 0.3s ease;
  line-height: 30px;
  -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
  transition: left 0.2s ease-out, width 0.2s ease-out;
}
.hover-li li:hover {
  font-weight: 500;
}
.hover-li a {
  text-decoration: none;
  color: black;
}
.hover-li h3 {
  color: orangered;
  font-weight: 500;
}
.drop-men {
  left: 10%;
}
.drop-women {
  left: 15%;
}
.drop-kids {
  left: 20%;
}
.drop-home {
  left: 25%;
}
.drop-beauty {
  left: 35%;
}
.drop-studio {
  left: 35%;
  width: 20%;
  text-align: center;
}
.drop-studio div {
  width: 100%;
  margin: auto;
}
.drop-studio img {
  width: 100%;
}
.drop-studio button {
  padding: 10px;
  margin: 10px 0px;
  font-weight: 600;
}
.drop-profile {
  margin: 10px 0px;
  padding: 20px;
  left: 83%;
}
.drop-profile h3 {
  font-size: 1vw;
  color: black;
  margin-bottom: 8px;
  text-align: center;
}
.drop-profile button {
  width: 100px;
  height: 30px;
  color: orangered;
  margin-bottom: 4px;
}
.drop-profile button:hover {
  border: 1px solid orangered;
}

/* top body */
.top-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 98%;
  margin: auto;
  margin: 6% auto 0;
}
.top-body img {
  width: 100%;
}
/* discount banner */
.discount-banner1 {
  width: 99%;
  margin: 0 auto;
}
.discount-banner1 img {
  width: 100%;
}
.mid{
  margin-top: 10%;
}
/* omg & never banner */
.omg-banner {
  width: 99%;
  margin: 0 auto;
}
.omg-banner img {
  width: 100%;
}
.never-banner {
  width: 99%;
}
.never-banner img {
  width: 100%;
}
/* super saving deals */
.omg-deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 99%;
} 
.omg-deals > div {
  width: 80%;
  margin: auto;
  padding: 20px;
}
.omg-deals img {
  display: block;
  margin: auto;
  width: 95%;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}
.omg-deals img:hover {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.no-boxshadow img:hover {
  box-shadow: none;
}
.cat-banner {
  width: 99%;
}
.cat-banner img {
  width: 100%;
}
.cat-deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 99%;
}
.cat-deals > div {
  width: 100%;
  margin: auto;
  border: 1px solid red;
}
.cat-deals img {
  width: 100%;
}
.newness-banner {
  text-align: center;
  margin: 4% 0px 2%;
  font-size: 4vw;
  
}
.newness-deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 99%;
  margin: auto;
}
.newness-deals > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
  margin: auto;
}
.newness-deals img {
  width: 100%;
}
.gift-deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 99%;
  margin: 0 auto;
  margin-bottom: 5%;
}
.gift-deals > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
  margin: auto;
}
.gift-deals img {
  width: 100%;
}
/* never seen before */

/* shop by category */

#footer {
  display: flex;
 
  width: 80%;
  margin: auto;
  line-height: 30px;
}
#footer > :nth-child(1) {
 
  width: 20%;
  margin: 0 auto;
}
#footer > :nth-child(2) {
 
  width: 20%;
  margin: 0 auto;
}
#footer > :nth-child(3) {
  
  width: 30%;
  margin: 0 auto;
}
#footer img {
  width: 100%;
}
.coloumn div {
  margin: 10px 50px;
  width: 50%;

}
#footer ul {
  list-style: none;
}
#footer a {
  text-decoration: none;
  color: black;
}
#footer li {
  font-weight: 300;
}
#footer-end-content p {
  font-weight: 300;
 
}
#footer-end-content hr {
  margin-top: 3px;
  background-color: gainsboro;
  height: 1px;
  border: none;
}
#footer-end-content > :nth-child(2) {
 
  margin-bottom: 8px;
  
}
#footer-end-content > :nth-child(3) {
 
  margin-bottom: 8px;

}
#footer-end-content > :nth-child(10) {
  
  margin-bottom: 8px;
}

/* media queries */
@media (max-width: 764px) {
  .search {
    width: 40%;
    margin-left: 10%;
    margin-right: 0;
  }
  .search img {
    width: 8%;
    height: 20px;
  }
  .end-content {
    width: 25%;
    margin-left: 8%;
  }
  .categories {
    display: none;
  }
  .top-body {
    width: 98%;
  }
  .mid {
    margin-top: 18%;
  }
  .omg-deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 98%;
    margin: auto;
  }
  .omg-deals > div {
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  .never-seen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 98%;
    margin: auto;
  }
  .never-seen > div {
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  .cat-deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 98%;
    margin: auto;
  }
  .cat-deals > div {
    width: 100%;
    margin: auto;
  }
  .newness-deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 98%;
    margin: auto;
  }
  .gift-deals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    margin: 0 auto 10%;
  }
  #footer {
    width: 98%;
    line-height: 23px;
  }
  .coloumn > div {
    margin: 10px auto;
    width: 70%;
  }
}
@media (max-width: 499px) {
  .navbar{
    width: 98%;
  }
  .search {
    width: 40%;
    margin-left: 7%;
    margin-right: 0;
  }
  .search img {
    width: 8%;
    height: 20px;
  }
  .end-content {
    width: 25%;
    margin-left: 1%;
  }
  .categories {
    display: none;
    /* width: 90%; */
  }
  .discount-banner1{
    width: 98%;
  }
  .mid {
    margin-top: 24%;
  }
  .omg-deals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 98%;
  }
  .omg-deals > div {
    width: 90%;
    padding: 10px;
  }
  .never-seen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 98%;
  }
  .never-seen > div {
    width: 90%;
    padding: 10px;
  }
  .cat-deals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    margin: auto;
  }
  .cat-deals > div {
    width: 98%;
    margin: auto;
  }
  .newness-deals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    margin: auto;
  }
  .gift-deals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    margin: 0 auto 10%;
  }
  #footer {
    width: 90%;
    line-height: 23px;
  }
  .coloumn > div {
    margin: 10px auto;
    width: 70%;
  }
}
