* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 10;
  background-color: white;
}
.navbar > div:nth-child(1) {
  width: 8%;
  margin-left: 30px;
}
.navbar > div a img {
  width: 100%;
}
.categories {
  width: 35%;
  text-align: center;
  margin-left: 20px;
}
.categories ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;
}
.categories a {
  text-decoration: none;
}
.categories a {
  color: black;
  font-weight: 600;
  font-size: 1vw;
}
.end-content img {
  height: 16px;
}
.search {
  width: 30%;
  margin-left: 45px;
}
.search textarea:focus,
.search input:focus {
  outline: none;
}
.search img {
  width: 4%;
  height: 18px;
}
.search input {
  width: 60%;
  margin: 0px 0px 2px 6px;
  border: 0px;
}
.end-content {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-left: 95px;
}
.end-content a {
  font-weight: 600;
  font-size: 1vw;
  text-decoration: none;
  color: black;
}
.end-content img {
  width: 100%;
}

/* dropdown css */
.hover-li {
  display: none;
  position: fixed;
  top: 50px;
  padding: 50px 10px 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 20;
}
.hover-li li {
  text-align: left;
  text-decoration: none;
  font-size: 1vw;
  letter-spacing: 0.1px;
  list-style: none;
  color: black;
  font-weight: 400;
  transition: all 0.3s ease;
  line-height: 30px;
  -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
  transition: left 0.2s ease-out, width 0.2s ease-out;
}
.hover-li li:hover {
  font-weight: 500;
}
.hover-li a {
  text-decoration: none;
  color: black;
}
.hover-li h3 {
  color: orangered;
  font-weight: 500;
}
.drop-men {
  left: 10%;
}
.drop-women {
  left: 15%;
}
.drop-kids {
  left: 20%;
}
.drop-home {
  left: 25%;
}
.drop-beauty {
  left: 35%;
}
.drop-studio {
  left: 35%;
  width: 20%;
  text-align: center;
}
.drop-studio div {
  width: 100%;
  margin: auto;
}
.drop-studio img {
  width: 100%;
}
.drop-studio button {
  padding: 10px;
  margin: 10px 0px;
  font-weight: 600;
}
.drop-profile {
  margin: 10px 0px;
  padding: 20px;
  left: 83%;
}
.drop-profile h3 {
  font-size: 1.1vw;
  color: black;
  margin-bottom: 8px;
  text-align: center;
}
.drop-profile button {
  width: 100px;
  height: 30px;
  color: orangered;
  margin-bottom: 4px;
}
.drop-profile button:hover {
  border: 1px solid orangered;
}
/* contianer css */
.top-body {
  margin: 7% 5px 5px 5px;
  padding: 10px;
}
.top-body span {
  font-weight: 300;
}
.top-body > :nth-child(1) {
  margin-bottom: 5px;
  font-size: 1vw;
}
.mid-body > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto 10px;
}
.mid-body hr {
  border: none;
  height: 1px;
  /* color: red; */
  /* width: 100%; */
  /* height: 10px; */
  background-color: gainsboro;
}
.ProductSelectBy {
  /* border-color: gainsboro; */
  border: 1px solid gainsboro;
  padding: 4px;
}
.mid-body select {
  border: none;
}
.flexbox {
  display: flex;
}
.left-cont {
  width: 12%;
  position: sticky;
  top: 5px;
  padding: 15px 0 0 30px;
  /* margin: 15px 0px 0 0; */
}
.right-cont {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.right-cont > div {
  /* padding: 10px; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.right-cont img {
  width: 100%;
}
.right-cont h3 {
  font-size: 1.2vw;
  margin-left: 10px;
  margin-top: -20px;
}
.right-cont p {
  font-size: 1vw;
  margin-left: 10px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.price {
  margin-left: 10px;
  font-size: 1vw;
  font-weight: 500;
}
.oldprice {
  margin-left: 9px;
  text-decoration: line-through;
  color: #7e818c;
  font-size: 1vw;
}
.discount {
  margin-left: 10px;
  color: #ff905a;
  font-size: 1vw;
}
#btn {
  transform: translate(70%, -130%);
  text-align: center;
  height: 30px;
  width: 100px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
  /* background-color: transparent; */
  color: black;
  font-size: 1vw;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.35s ease;
  border: none;
  border-radius: 5px;
}
.card:hover #btn {
  opacity: 1;
}
#footer {
  display: flex;
  width: 80%;
  margin: 5% auto 0;
  line-height: 30px;
}
#footer > :nth-child(1) {
  width: 20%;
  margin: 0 auto;
}
#footer > :nth-child(2) {
  width: 20%;
  margin: 0 auto;
}
#footer > :nth-child(3) {
  width: 30%;
  margin: 0 auto;
}
#footer img {
  width: 100%;
}
.coloumn div {
  margin: 10px 50px;
  width: 50%;
}
#footer ul {
  list-style: none;
}
#footer a {
  text-decoration: none;
  color: black;
}
#footer li {
  font-weight: 300;
}
#footer-end-content p {
  font-weight: 300;
}
#footer-end-content hr {
  margin-top: 3px;
  background-color: gainsboro;
  height: 1px;
  border: none;
}
#footer-end-content > :nth-child(2) {
  /* font-weight: 300; */
  margin-bottom: 8px;
}
#footer-end-content > :nth-child(3) {
  /* font-weight: 300; */
  margin-bottom: 8px;
}
#footer-end-content > :nth-child(10) {
  /* font-weight: 300; */
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .search {
    width: 20%;
    margin-left: 10%;
    margin-right: 0;
  }
  .search img {
    width: 8%;
    height: 20px;
  }
  .end-content {
    width: 20%;
    margin-left: 8%;
  }
  .categories {
    display: none;
    /* width: 90%; */
  }
  /* body css */
  #cont {
    margin: 15% auto 0;
  }
  .top-body {
    width: 98%;
    margin: 15% auto 20px;
  }
  .mid-body {
    width: 98%;
    margin: auto;
  }
  .mid-body .country,
  .bundel {
    display: none;
  }
  .flexbox {
    width: 100%;
  }
  .right-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 98%;
    margin: auto;
    gap: 30px;
  }
  .left-cont {
    display: none;
  }
}
@media (max-width: 499px) {
  .navbar {
    width: 100%;
  }
  .search {
    width: 40%;
    margin-left: 10%;
    margin-right: 0;
  }
  .search img {
    width: 8%;
    height: 20px;
  }
  .end-content {
    width: 25%;
    margin-left: 8%;
  }
  .header {
    width: 98%;
    margin: auto;
  }
  .categories {
    display: none;
    /* width: 90%; */
  }
  /* body css */ .discount
  #cont {
    margin: 15% auto 0;
  }
  .top-body {
    margin: 20% auto 20px;
  }
  .mid-body {
    width: 98%;
    margin: auto;
  }
  .mid-body .country,
  .bundel {
    display: none;
  }
  .right-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    margin: auto;
    gap: 30px;
  }
  .left-cont {
    display: none;
  }
}
