* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 10;
  background-color: white;
}
.navbar > div:nth-child(1) {
  width: 8%;
  margin-left: 30px;
}
.navbar > div a img {
  width: 100%;
}
.categories {
  width: 35%;
  text-align: center;
  margin-left: 20px;
}
.categories ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;
}
.categories a {
  text-decoration: none;
}
.categories a {
  color: black;
  font-weight: 600;
  font-size: 1vw;
}
.end-content img {
  height: 15px;
}
.search {
  width: 30%;
  margin-left: 140px;
}
.search textarea:focus,
.search input:focus {
  outline: none;
}
.search img {
  width: 4%;
  height: 18px;
}
.search input {
  width: 60%;
  margin: 0px 0px 2px 6px;
  border: 0px;
}
.end-content {
  display: flex;
  justify-content: space-between;
  width: 5%;
  margin-left: 90px;
}
.end-content a {
  font-weight: 600;
  font-size: 1vw;
  text-decoration: none;
  color: black;
}
.end-content img {
  width: 100%;
}

/* body */
.right-cont {
  margin: 7% auto 0;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.right-cont > div {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.right-cont img {
  width: 100%;
}
.right-cont h3 {
  margin-top: -20px;
  font-size: 1vw;
  margin-left: 10px;
}
.right-cont p {
  font-size: 1vw;
  margin-left: 10px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.price {
  margin-left: 10px;
  font-size: 1vw;
  font-weight: 500;
}
.oldprice {
  margin-left: 9px;
  text-decoration: line-through;
  color: #7e818c;
  font-size: 1vw;
}
.discount {
  margin-left: 10px;
  color: #ff905a;
  font-size: 1vw;
}
#btn {
  transform: translate(70%, -130%);
  text-align: center;
  height: 30px;
  width: 100px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
  /* background-color: transparent; */
  color: black;
  font-size: 1vw;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.35s ease;
  border: none;
  border-radius: 5px;
}
.card:hover #btn {
  opacity: 1;
}

/* responsive */
@media (max-width: 767px) {
  .search {
    width: 40%;
    margin-left: 10%;
    margin-right: 0;
  }
  .search img {
    width: 8%;
    height: 20px;
  }
  .end-content {
    width: 15%;
    margin-left: 10%;
  }
  .categories {
    display: none;
    /* width: 90%; */
  }
  .right-cont {
    margin: 18% auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 98%;
  }
  #btn {
    transform: translate(50%, -130%);
  }
}
@media (max-width: 499px) {
  .search {
    width: 40%;
    margin-left: 10%;
    margin-right: 0;
  }
  .search img {
    width: 8%;
    height: 20px;
  }
  .end-content {
    width: 15%;
    margin-left: 10%;
  }
  .categories {
    display: none;
    /* width: 90%; */
  }
  .right-cont {
    margin: 18% auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 98%;
  }
  #btn {
    transform: translate(50%, -130%);
  }
}
